In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/content/Train_data.csv')

In [3]:
data.head()

         age     job_type marital_status  ... call_start  call_end  car_insurance
0  47.000000  blue-collar        married  ...   10:22:20  10:24:29              0
1  46.031442   management        married  ...   09:06:30  13:59:48              1
2  36.000000     services         single  ...   13:18:41  13:27:16              1
3  32.000000   technician         single  ...   10:09:18  10:21:48              1
4  30.000000       admin.         single  ...   12:12:30  12:27:14              1

[5 rows x 18 columns]

In [4]:
data.sample(10)

            age       job_type  ...  call_end car_insurance
384   43.000000     management  ...  10:23:01             0
2746  56.000000    blue-collar  ...  09:40:18             1
774   56.000000  self-employed  ...  09:38:26             0
2635  32.000000       services  ...  16:28:55             1
2514  34.750701     technician  ...  15:46:41             1
437   41.977581  self-employed  ...  16:37:20             1
2213  52.000000  self-employed  ...  16:01:32             0
741   28.000000  self-employed  ...  13:03:12             1
1568  51.248968     technician  ...  15:46:41             1
266   58.000000    blue-collar  ...  14:45:10             0

[10 rows x 18 columns]

In [5]:
data.corr()

                          age  default_or_not  ...  prev_attempts  car_insurance
age                  1.000000        0.019138  ...      -0.002171       0.048778
default_or_not       0.019138        1.000000  ...      -0.038372      -0.046430
balance_amt          0.114795       -0.054937  ...       0.001797       0.041643
household_insurance -0.182306       -0.021261  ...       0.048401      -0.183577
car_loan            -0.020049        0.159646  ...      -0.013794      -0.070349
last_contact_day     0.000997        0.017529  ...      -0.069704      -0.068710
no_of_contacts       0.020969       -0.000061  ...      -0.039345      -0.134481
days_passed         -0.010654       -0.036657  ...       0.484353       0.096490
prev_attempts       -0.002171       -0.038372  ...       1.000000       0.120926
car_insurance        0.048778       -0.046430  ...       0.120926       1.000000

[10 rows x 10 columns]

In [6]:
data.isnull().sum()

age                       0
job_type                 11
marital_status            0
education_level         113
default_or_not            0
balance_amt               0
household_insurance       0
car_loan                  0
communication           543
last_contact_day          0
last_contact_month        0
no_of_contacts            0
days_passed               0
prev_attempts             0
Outcome                2351
call_start                0
call_end                  0
car_insurance             0
dtype: int64

In [7]:
data.shape

(3102, 18)

In [8]:

data['Outcome'].isnull().sum()/3102

0.7578981302385558

In [9]:
new_d = data.drop(['Outcome'], axis=1)

In [10]:
new_d

            age      job_type  ...  call_end car_insurance
0     47.000000   blue-collar  ...  10:24:29             0
1     46.031442    management  ...  13:59:48             1
2     36.000000      services  ...  13:27:16             1
3     32.000000    technician  ...  10:21:48             1
4     30.000000        admin.  ...  12:27:14             1
...         ...           ...  ...       ...           ...
3097  44.000000    technician  ...  10:08:37             0
3098  57.000000        admin.  ...  16:06:50             0
3099  51.000000  entrepreneur  ...  13:47:23             1
3100  61.000000   blue-collar  ...  14:03:50             1
3101  53.000000    technician  ...  16:50:36             1

[3102 rows x 17 columns]

In [11]:
new_d.isnull().sum()

age                      0
job_type                11
marital_status           0
education_level        113
default_or_not           0
balance_amt              0
household_insurance      0
car_loan                 0
communication          543
last_contact_day         0
last_contact_month       0
no_of_contacts           0
days_passed              0
prev_attempts            0
call_start               0
call_end                 0
car_insurance            0
dtype: int64

In [12]:
new_d['job_type'].value_counts()

management       724
blue-collar      544
technician       526
admin.           346
services         231
retired          193
unemployed       146
student          119
self-employed    106
housemaid         80
entrepreneur      76
Name: job_type, dtype: int64

In [13]:
new_d['education_level'].value_counts()

secondary    1569
tertiary     1030
primary       390
Name: education_level, dtype: int64

In [14]:
new_d['communication'].value_counts()

cellular     2397
telephone     162
Name: communication, dtype: int64

In [15]:
new_d['car_insurance'].value_counts()

1    1760
0    1342
Name: car_insurance, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
labelencoder = LabelEncoder()

In [18]:
# new_d['education_level'].fillna(new_d['education_level'].median())



new_d['education_level'].fillna(new_d['education_level'].mode()[0], inplace=True)

In [19]:
new_d['education_level'] = labelencoder.fit_transform(new_d['education_level'])

In [20]:
new_d

            age      job_type  ...  call_end  car_insurance
0     47.000000   blue-collar  ...  10:24:29              0
1     46.031442    management  ...  13:59:48              1
2     36.000000      services  ...  13:27:16              1
3     32.000000    technician  ...  10:21:48              1
4     30.000000        admin.  ...  12:27:14              1
...         ...           ...  ...       ...            ...
3097  44.000000    technician  ...  10:08:37              0
3098  57.000000        admin.  ...  16:06:50              0
3099  51.000000  entrepreneur  ...  13:47:23              1
3100  61.000000   blue-collar  ...  14:03:50              1
3101  53.000000    technician  ...  16:50:36              1

[3102 rows x 17 columns]

In [21]:
new_d['last_contact_month'] = labelencoder.fit_transform(new_d['last_contact_month'])

In [22]:
new_d

            age      job_type  ...  call_end  car_insurance
0     47.000000   blue-collar  ...  10:24:29              0
1     46.031442    management  ...  13:59:48              1
2     36.000000      services  ...  13:27:16              1
3     32.000000    technician  ...  10:21:48              1
4     30.000000        admin.  ...  12:27:14              1
...         ...           ...  ...       ...            ...
3097  44.000000    technician  ...  10:08:37              0
3098  57.000000        admin.  ...  16:06:50              0
3099  51.000000  entrepreneur  ...  13:47:23              1
3100  61.000000   blue-collar  ...  14:03:50              1
3101  53.000000    technician  ...  16:50:36              1

[3102 rows x 17 columns]

In [23]:
new_d.isnull().sum()

age                      0
job_type                11
marital_status           0
education_level          0
default_or_not           0
balance_amt              0
household_insurance      0
car_loan                 0
communication          543
last_contact_day         0
last_contact_month       0
no_of_contacts           0
days_passed              0
prev_attempts            0
call_start               0
call_end                 0
car_insurance            0
dtype: int64

In [24]:
new_d['communication'].fillna(new_d['communication'].mode()[0], inplace=True)

In [25]:
new_d['communication'].value_counts()

cellular     2940
telephone     162
Name: communication, dtype: int64

In [26]:
new_d

            age      job_type  ...  call_end  car_insurance
0     47.000000   blue-collar  ...  10:24:29              0
1     46.031442    management  ...  13:59:48              1
2     36.000000      services  ...  13:27:16              1
3     32.000000    technician  ...  10:21:48              1
4     30.000000        admin.  ...  12:27:14              1
...         ...           ...  ...       ...            ...
3097  44.000000    technician  ...  10:08:37              0
3098  57.000000        admin.  ...  16:06:50              0
3099  51.000000  entrepreneur  ...  13:47:23              1
3100  61.000000   blue-collar  ...  14:03:50              1
3101  53.000000    technician  ...  16:50:36              1

[3102 rows x 17 columns]

In [27]:
new_drop = new_d.drop_duplicates()

In [28]:
new_drop

            age     job_type marital_status  ...  call_start  call_end  car_insurance
0     47.000000  blue-collar        married  ...    10:22:20  10:24:29              0
1     46.031442   management        married  ...    09:06:30  13:59:48              1
2     36.000000     services         single  ...    13:18:41  13:27:16              1
3     32.000000   technician         single  ...    10:09:18  10:21:48              1
4     30.000000       admin.         single  ...    12:12:30  12:27:14              1
...         ...          ...            ...  ...         ...       ...            ...
2797  41.073939   management        married  ...    17:24:03  09:35:38              1
2798  30.000000  blue-collar         single  ...    09:37:38  10:01:05              1
2799  32.000000  blue-collar        married  ...    10:03:09  10:16:49              1
2800  31.000000  blue-collar        married  ...    14:54:16  14:54:52              0
2801  61.000000   management         single  ...    16:18:48  16:20:59              1

[2802 rows x 17 columns]

In [29]:
new_drop.corr()

                          age  education_level  ...  prev_attempts  car_insurance
age                  1.000000        -0.151338  ...      -0.001817       0.038405
education_level     -0.151338         1.000000  ...       0.023327       0.116717
default_or_not       0.018730        -0.042298  ...      -0.037023      -0.053741
balance_amt          0.109874         0.047645  ...       0.002020       0.043457
household_insurance -0.171369        -0.099782  ...       0.043569      -0.187117
car_loan            -0.019132        -0.061949  ...      -0.007154      -0.082479
last_contact_day     0.003539        -0.000353  ...      -0.065522      -0.064330
last_contact_month  -0.041216        -0.050977  ...       0.040746      -0.033503
no_of_contacts       0.017653         0.010645  ...      -0.037297      -0.134469
days_passed         -0.004972         0.032574  ...       0.480359       0.105860
prev_attempts       -0.001817         0.023327  ...       1.000000       0.121916
car_insurance        0.038405         0.116717  ...       0.121916       1.000000

[12 rows x 12 columns]

In [30]:
new_drop[['call_start_hours','call_start_minutes','call_start_seconds']] = new_drop.call_start.str.split(":",expand=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [31]:
new_drop

            age     job_type  ... call_start_minutes  call_start_seconds
0     47.000000  blue-collar  ...                 22                  20
1     46.031442   management  ...                 06                  30
2     36.000000     services  ...                 18                  41
3     32.000000   technician  ...                 09                  18
4     30.000000       admin.  ...                 12                  30
...         ...          ...  ...                ...                 ...
2797  41.073939   management  ...                 24                  03
2798  30.000000  blue-collar  ...                 37                  38
2799  32.000000  blue-collar  ...                 03                  09
2800  31.000000  blue-collar  ...                 54                  16
2801  61.000000   management  ...                 18                  48

[2802 rows x 20 columns]

In [32]:

new_drop[['call_end_hours','call_end_minutes','call_end_seconds']] = new_drop.call_end.str.split(":",expand=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [33]:
new_drop

            age     job_type  ... call_end_minutes  call_end_seconds
0     47.000000  blue-collar  ...               24                29
1     46.031442   management  ...               59                48
2     36.000000     services  ...               27                16
3     32.000000   technician  ...               21                48
4     30.000000       admin.  ...               27                14
...         ...          ...  ...              ...               ...
2797  41.073939   management  ...               35                38
2798  30.000000  blue-collar  ...               01                05
2799  32.000000  blue-collar  ...               16                49
2800  31.000000  blue-collar  ...               54                52
2801  61.000000   management  ...               20                59

[2802 rows x 23 columns]

In [34]:
new_drop['days_passed'].mean()

51.825124910778015

In [35]:
new_drop["days_passed"].replace({-1:52}, inplace=True)
print(new_drop)

            age     job_type  ... call_end_minutes  call_end_seconds
0     47.000000  blue-collar  ...               24                29
1     46.031442   management  ...               59                48
2     36.000000     services  ...               27                16
3     32.000000   technician  ...               21                48
4     30.000000       admin.  ...               27                14
...         ...          ...  ...              ...               ...
2797  41.073939   management  ...               35                38
2798  30.000000  blue-collar  ...               01                05
2799  32.000000  blue-collar  ...               16                49
2800  31.000000  blue-collar  ...               54                52
2801  61.000000   management  ...               20                59

[2802 rows x 23 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [36]:
new_drop.sample(10)

       age       job_type  ... call_end_minutes  call_end_seconds
874   32.0     management  ...               59                02
1095  31.0     management  ...               25                29
278   30.0  self-employed  ...               35                47
2718  32.0     management  ...               59                30
2143  45.0     management  ...               28                46
1354  41.0       services  ...               40                12
706   45.0         admin.  ...               06                40
1566  27.0     unemployed  ...               49                35
2795  67.0        retired  ...               00                34
1100  52.0    blue-collar  ...               39                34

[10 rows x 23 columns]

In [37]:
new_data = new_drop.drop(['call_start','call_end'],axis=1)

In [38]:
new_data['last_contact_month'].value_counts()

8     695
1     394
5     374
6     297
0     260
9     238
3     192
11     93
10     91
4      84
7      59
2      25
Name: last_contact_month, dtype: int64

In [39]:
# new_data["marital_status"].replace({"married":1,"single":0}, inplace=True)
new_data['marital_status'] = labelencoder.fit_transform(new_data['marital_status'])

In [40]:
new_data

            age     job_type  ...  call_end_minutes  call_end_seconds
0     47.000000  blue-collar  ...                24                29
1     46.031442   management  ...                59                48
2     36.000000     services  ...                27                16
3     32.000000   technician  ...                21                48
4     30.000000       admin.  ...                27                14
...         ...          ...  ...               ...               ...
2797  41.073939   management  ...                35                38
2798  30.000000  blue-collar  ...                01                05
2799  32.000000  blue-collar  ...                16                49
2800  31.000000  blue-collar  ...                54                52
2801  61.000000   management  ...                20                59

[2802 rows x 21 columns]

In [41]:
new_data["communication"].replace({"cellular":1,"telephone":0}, inplace=True)

In [48]:
new_data

            age     job_type  ...  call_end_minutes  call_end_seconds
0     47.000000  blue-collar  ...                24                29
1     46.031442   management  ...                59                48
2     36.000000     services  ...                27                16
3     32.000000   technician  ...                21                48
4     30.000000       admin.  ...                27                14
...         ...          ...  ...               ...               ...
2797  41.073939   management  ...                35                38
2798  30.000000  blue-collar  ...                01                05
2799  32.000000  blue-collar  ...                16                49
2800  31.000000  blue-collar  ...                54                52
2801  61.000000   management  ...                20                59

[2802 rows x 21 columns]

In [49]:
new_data['job_type'].value_counts()

management       653
blue-collar      496
technician       465
admin.           311
services         219
retired          179
unemployed       135
student          108
self-employed     89
housemaid         71
entrepreneur      66
Name: job_type, dtype: int64

In [50]:
dum_df = pd.get_dummies(new_data, columns=["job_type"])
# merge with main df bridge_df on key values

In [51]:
dum_df

            age  marital_status  ...  job_type_technician  job_type_unemployed
0     47.000000               1  ...                    0                    0
1     46.031442               1  ...                    0                    0
2     36.000000               2  ...                    0                    0
3     32.000000               2  ...                    1                    0
4     30.000000               2  ...                    0                    0
...         ...             ...  ...                  ...                  ...
2797  41.073939               1  ...                    0                    0
2798  30.000000               2  ...                    0                    0
2799  32.000000               1  ...                    0                    0
2800  31.000000               1  ...                    0                    0
2801  61.000000               2  ...                    0                    0

[2802 rows x 31 columns]

In [52]:

new = dum_df.drop_duplicates()

In [53]:
new.shape

(2802, 31)

In [54]:
new.sample(10)

            age  marital_status  ...  job_type_technician  job_type_unemployed
2106  46.000000               1  ...                    0                    0
1058  35.000000               2  ...                    0                    0
54    35.497888               1  ...                    0                    0
462   36.346623               1  ...                    0                    0
1567  40.041320               1  ...                    1                    0
424   47.000000               1  ...                    0                    0
1602  46.000000               1  ...                    0                    0
2238  50.000000               1  ...                    0                    0
772   32.000000               2  ...                    0                    0
2035  51.000000               1  ...                    0                    0

[10 rows x 31 columns]

In [55]:
cols_to_scale = ['age','education_level','balance_amt','last_contact_day','last_contact_month','no_of_contacts','days_passed','days_passed','call_start_hours',
                 'call_start_minutes','call_start_seconds','call_end_hours','call_end_minutes','call_end_seconds']
# Importing MinMax Scaler from sklearn
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# new[cols_to_scale] = scaler.fit_transform(new[cols_to_scale])

In [56]:
new[cols_to_scale] = scaler.fit_transform(new[cols_to_scale])

In [57]:
new

           age  marital_status  ...  job_type_technician  job_type_unemployed
0     0.391892               1  ...                    0                    0
1     0.378803               1  ...                    0                    0
2     0.243243               2  ...                    0                    0
3     0.189189               2  ...                    1                    0
4     0.162162               2  ...                    0                    0
...        ...             ...  ...                  ...                  ...
2797  0.311810               1  ...                    0                    0
2798  0.162162               2  ...                    0                    0
2799  0.189189               1  ...                    0                    0
2800  0.175676               1  ...                    0                    0
2801  0.581081               2  ...                    0                    0

[2802 rows x 31 columns]

In [58]:
col = ['prev_attempts']

In [59]:
new[col] = scaler.fit_transform(new[col])

In [60]:
new

           age  marital_status  ...  job_type_technician  job_type_unemployed
0     0.391892               1  ...                    0                    0
1     0.378803               1  ...                    0                    0
2     0.243243               2  ...                    0                    0
3     0.189189               2  ...                    1                    0
4     0.162162               2  ...                    0                    0
...        ...             ...  ...                  ...                  ...
2797  0.311810               1  ...                    0                    0
2798  0.162162               2  ...                    0                    0
2799  0.189189               1  ...                    0                    0
2800  0.175676               1  ...                    0                    0
2801  0.581081               2  ...                    0                    0

[2802 rows x 31 columns]

In [61]:
nd = new.drop_duplicates()

In [62]:
nd

           age  marital_status  ...  job_type_technician  job_type_unemployed
0     0.391892               1  ...                    0                    0
1     0.378803               1  ...                    0                    0
2     0.243243               2  ...                    0                    0
3     0.189189               2  ...                    1                    0
4     0.162162               2  ...                    0                    0
...        ...             ...  ...                  ...                  ...
2797  0.311810               1  ...                    0                    0
2798  0.162162               2  ...                    0                    0
2799  0.189189               1  ...                    0                    0
2800  0.175676               1  ...                    0                    0
2801  0.581081               2  ...                    0                    0

[2802 rows x 31 columns]

In [63]:
nd.corr()

                             age  ...  job_type_unemployed
age                     1.000000  ...             0.000528
marital_status         -0.397193  ...             0.013327
education_level        -0.151338  ...            -0.047094
default_or_not          0.018730  ...            -0.013026
balance_amt             0.109874  ...            -0.025275
household_insurance    -0.171369  ...            -0.050330
car_loan               -0.019132  ...            -0.061016
communication          -0.181616  ...             0.023326
last_contact_day        0.003539  ...            -0.024293
last_contact_month     -0.041216  ...            -0.031423
no_of_contacts          0.017653  ...            -0.027404
days_passed            -0.010722  ...             0.038704
prev_attempts          -0.001817  ...             0.033672
car_insurance           0.038405  ...             0.090621
call_start_hours        0.005139  ...            -0.004178
call_start_minutes     -0.014151  ...             0.025940
call_start_seconds     -0.015634  ...             0.001209
call_end_hours          0.011351  ...             0.056599
call_end_minutes       -0.034010  ...            -0.009981
call_end_seconds        0.001675  ...            -0.026881
job_type_admin.        -0.052301  ...            -0.079497
job_type_blue-collar   -0.039765  ...            -0.104344
job_type_entrepreneur   0.015810  ...            -0.034944
job_type_housemaid      0.088573  ...            -0.036276
job_type_management    -0.017247  ...            -0.124021
job_type_retired        0.455260  ...            -0.058774
job_type_self-employed  0.005313  ...            -0.040750
job_type_services      -0.076856  ...            -0.065511
job_type_student       -0.231457  ...            -0.045047
job_type_technician    -0.070844  ...            -0.100358
job_type_unemployed     0.000528  ...             1.000000

[31 rows x 31 columns]

In [58]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (2.7.1)
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (7.6.3)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.4.0)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (4.60.0)
Requirement already satisfied: astropy>=4.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (4.2.1)
Requirement already satisfied: phik>=0.9.10 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.19.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.23.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.1.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: visions[type_image_path]==0.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.4.1)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.4.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.0.7)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling) (4.10.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling) (1.0.0)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.5.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.0.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from confuse>=1.0.0->pandas-profiling) (3.13)
Requirement already satisfied: pyerfa in /usr/local/lib/python3.7/dist-packages (from astropy>=4.0->pandas-profiling) (1.7.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling) (20.3.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling) (2.5.1)
Requirement already satisfied: imagehash; extra == "type_image_path" in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling) (7.1.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from missingno>=0.4.2->pandas-profiling) (0.11.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (5.1.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (2.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (5.3.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (56.0.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling) (1.15.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.1->pandas-profiling) (1.1.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (22.0.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.9.4)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.4.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (20.9)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)

In [64]:
from pandas_profiling import ProfileReport

In [65]:
profile = ProfileReport(nd)
# profile.to_file(output_file="nd.html")

In [95]:
!pip install pandas-profiling==2.7.1

Collecting pandas-profiling==2.7.1
  Downloading https://files.pythonhosted.org/packages/50/8a/25da481171f4912e2515a76fe31b7a4f036a443b8858b244ef7daaffd5b6/pandas_profiling-2.7.1-py2.py3-none-any.whl (252kB)
     |████████████████████████████████| 256kB 17.9MB/s
Collecting visions[type_image_path]==0.4.1
  Downloading https://files.pythonhosted.org/packages/13/fe/7614dec3db3f20882ff12dae0a58b579e97b590f2994ce9c953fe179d512/visions-0.4.1-py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 7.9MB/s
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (7.6.3)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (3.2.2)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (2.11.3)
Collecting confuse>=1.0.0
  Downloading https://files.pythonhosted.org/packages/6d/55/b4726d81e5d6509fa3441f770f8a9524612627dc1b2a7d6209d1d20083fe/confuse-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (1.19.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (1.4.1)
Requirement already satisfied: astropy>=4.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (4.2.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (1.0.1)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (0.4.2)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading https://files.pythonhosted.org/packages/ec/d1/58bfbe263494741a47140049b989ad42a8941854e8d34f1af90640c6c9f9/tangled_up_in_unicode-0.0.7-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.2MB 18.5MB/s
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (2.23.0)
Collecting htmlmin>=0.1.12
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting phik>=0.9.10
  Downloading https://files.pythonhosted.org/packages/b7/ce/193e8ddf62d4be643b9b4b20e8e9c63b2f6a20f92778c0410c629f89bdaa/phik-0.11.2.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 45.7MB/s
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==2.7.1) (1.1.5)
Collecting tqdm>=4.43.0
  Downloading https://files.pythonhosted.org/packages/72/8a/34efae5cf9924328a8f34eeb2fdaae14c011462d9f0e3fcded48e1266d1c/tqdm-4.60.0-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 10.3MB/s
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (2.5.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (20.3.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (7.1.2)
Collecting imagehash; extra == "type_image_path"
  Downloading https://files.pythonhosted.org/packages/8e/18/9dbb772b5ef73a3069c66bb5bf29b9fb4dd57af0d5790c781c3f559bcca6/ImageHash-4.2.0-py2.py3-none-any.whl (295kB)
     |████████████████████████████████| 296kB 56.1MB/s
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.5.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.0.5)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.0.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.10.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.1.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.7.1) (0.10.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas-profiling==2.7.1) (1.1.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from confuse>=1.0.0->pandas-profiling==2.7.1) (3.13)
Requirement already satisfied: pyerfa in /usr/local/lib/python3.7/dist-packages (from astropy>=4.0->pandas-profiling==2.7.1) (1.7.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from missingno>=0.4.2->pandas-profiling==2.7.1) (0.11.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->pandas-profiling==2.7.1) (2.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling==2.7.1) (2018.9)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx>=2.4->visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (4.4.2)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (1.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.1->pandas-profiling==2.7.1) (1.15.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (56.0.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.7.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.1.1)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.3.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (2.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.7.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (22.0.3)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.9.4)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (3.3.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (1.4.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (20.9)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.7.1) (0.5.1)
Building wheels for collected packages: htmlmin, phik
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-cp37-none-any.whl size=27085 sha256=8efef0e659b7127f9db00853919166de7e511501cb5a21c9a84788d64447a791
  Stored in directory: /root/.cache/pip/wheels/43/07/ac/7c5a9d708d65247ac1f94066cf1db075540b85716c30255459
  Building wheel for phik (setup.py) ... done
  Created wheel for phik: filename=phik-0.11.2-cp37-none-any.whl size=1107413 sha256=7121f62731c5a7ddcbcb87e83bc227376194df8c7b010b9a6bc25e37a218b471
  Stored in directory: /root/.cache/pip/wheels/c0/a3/b0/f27b1cfe32ea131a3715169132ff6d85653789e80e966c3bf6
Successfully built htmlmin phik
ERROR: phik 0.11.2 has requirement scipy>=1.5.2, but you'll have scipy 1.4.1 which is incompatible.
Installing collected packages: tangled-up-in-unicode, imagehash, visions, confuse, htmlmin, phik, tqdm, pandas-profiling
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
  Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed confuse-1.4.0 htmlmin-0.1.12 imagehash-4.2.0 pandas-profiling-2.7.1 phik-0.11.2 tangled-up-in-unicode-0.0.7 tqdm-4.60.0 visions-0.4.1

In [128]:
profile.to_file(output_file="nd.html")

Summarize dataset:   0%|          | 0/43 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [187]:
# nd.drop(['last_contact_month','no_of_contacts','prev_attempts','call_start_hours','call_start_minutes','call_end_hours'],axis=1)

      age  marital_status  ...  job_type_technician  job_type_unemployed
0    0.39               1  ...                    0                    0
1    0.38               1  ...                    0                    0
2    0.24               2  ...                    0                    0
3    0.19               2  ...                    1                    0
4    0.16               2  ...                    0                    0
...   ...             ...  ...                  ...                  ...
2797 0.31               1  ...                    0                    0
2798 0.16               2  ...                    0                    0
2799 0.19               1  ...                    0                    0
2800 0.18               1  ...                    0                    0
2801 0.58               2  ...                    0                    0

[2802 rows x 25 columns]

In [190]:
from sklearn.model_selection import train_test_split

In [191]:
pip install lazypredict

Requirement already satisfied: lazypredict in /usr/local/lib/python3.7/dist-packages (0.2.9)
Requirement already satisfied: PyYAML==5.3.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (5.3.1)
Requirement already satisfied: click==7.1.2 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (7.1.2)
Requirement already satisfied: numpy==1.19.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.19.1)
Requirement already satisfied: six==1.15.0 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.15.0)
Requirement already satisfied: scipy==1.5.4 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.5.4)
Requirement already satisfied: pandas==1.0.5 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.0.5)
Requirement already satisfied: lightgbm==2.3.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (2.3.1)
Requirement already satisfied: xgboost==1.1.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.1.1)
Requirement already satisfied: scikit-learn==0.23.1 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (0.23.1)
Requirement already satisfied: joblib==1.0.0 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (1.0.0)
Requirement already satisfied: tqdm==4.56.0 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (4.56.0)
Requirement already satisfied: pytest==5.4.3 in /usr/local/lib/python3.7/dist-packages (from lazypredict) (5.4.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5->lazypredict) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5->lazypredict) (2018.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.1->lazypredict) (2.1.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (1.10.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (3.10.1)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (0.13.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (0.2.5)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (20.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (20.9)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest==5.4.3->lazypredict) (8.7.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest==5.4.3->lazypredict) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest==5.4.3->lazypredict) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pytest==5.4.3->lazypredict) (2.4.7)

In [192]:
import lazypredict

In [193]:
nd

      age  marital_status  ...  job_type_technician  job_type_unemployed
0    0.39               1  ...                    0                    0
1    0.38               1  ...                    0                    0
2    0.24               2  ...                    0                    0
3    0.19               2  ...                    1                    0
4    0.16               2  ...                    0                    0
...   ...             ...  ...                  ...                  ...
2797 0.31               1  ...                    0                    0
2798 0.16               2  ...                    0                    0
2799 0.19               1  ...                    0                    0
2800 0.18               1  ...                    0                    0
2801 0.58               2  ...                    0                    0

[2802 rows x 31 columns]

In [194]:
from lazypredict.Supervised import LazyClassifier

from sklearn.model_selection import train_test_split

In [195]:
X = nd.drop('car_insurance',axis=1)
y= nd['car_insurance']

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.20,random_state =42)



clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)

models

100%|██████████| 29/29 [00:05<00:00,  5.68it/s]

                               Accuracy  ...  Time Taken
Model                                    ...
XGBClassifier                      0.82  ...        0.33
LGBMClassifier                     0.80  ...        0.16
RandomForestClassifier             0.75  ...        0.49
QuadraticDiscriminantAnalysis      0.72  ...        0.03
ExtraTreesClassifier               0.73  ...        0.34
NuSVC                              0.71  ...        0.53
BaggingClassifier                  0.69  ...        0.15
AdaBoostClassifier                 0.70  ...        0.20
SVC                                0.70  ...        0.43
DecisionTreeClassifier             0.69  ...        0.05
KNeighborsClassifier               0.67  ...        0.10
LogisticRegression                 0.66  ...        0.04
RidgeClassifierCV                  0.66  ...        0.04
RidgeClassifier                    0.66  ...        0.03
LinearSVC                          0.66  ...        0.29
LinearDiscriminantAnalysis         0.66  ...        0.04
CalibratedClassifierCV             0.66  ...        1.00
BernoulliNB                        0.64  ...        0.02
NearestCentroid                    0.62  ...        0.02
SGDClassifier                      0.62  ...        0.04
LabelPropagation                   0.61  ...        0.28
LabelSpreading                     0.61  ...        0.35
GaussianNB                         0.61  ...        0.02
Perceptron                         0.60  ...        0.03
ExtraTreeClassifier                0.60  ...        0.02
PassiveAggressiveClassifier        0.56  ...        0.03
DummyClassifier                    0.49  ...        0.02

[27 rows x 5 columns]

In [196]:
import xgboost as xgb

In [197]:
# xg_reg = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                # max_depth = 5, alpha = 10, n_estimators = 10)

xg_reg = xgb.XGBClassifier()

In [198]:
xg_reg.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [199]:
preds = xg_reg.predict(X_test)

In [200]:
# import mean squared error from sklearn.metric
from sklearn.metrics import f1_score,accuracy_score

In [201]:
print('Accuracy Score is: ', accuracy_score(y_test, preds))

Accuracy Score is:  0.8163992869875223

In [202]:
test_data = pd.read_csv('/content/Test_data.csv')

In [203]:
test_data.head()

    age    job_type marital_status  ...  Outcome  call_start  call_end
0 65.00     retired        married  ...      NaN    12:22:13  12:30:56
1 36.00  management        married  ...      NaN    17:59:45  18:07:40
2 37.00  management        married  ...  success    14:05:19  14:10:56
3 30.07  management         single  ...      NaN    17:33:27  09:47:54
4 41.00  management        married  ...      NaN    14:40:26  14:41:31

[5 rows x 17 columns]

In [204]:
t = test_data.drop('Outcome',axis=1)

In [205]:
le = LabelEncoder()

In [206]:
t['education_level'].fillna(t['education_level'].mode()[0], inplace=True)

In [207]:

t['education_level'] = le.fit_transform(t['education_level'])

In [208]:

t['last_contact_month'] = le.fit_transform(t['last_contact_month'])

In [209]:


t['communication'].fillna(t['communication'].mode()[0], inplace=True)

In [210]:
nt = t.drop_duplicates()

In [211]:
nt[['call_start_hours','call_start_minutes','call_start_seconds']] = nt.call_start.str.split(":",expand=True)

In [212]:


nt[['call_end_hours','call_end_minutes','call_end_seconds']] = nt.call_end.str.split(":",expand=True)

In [213]:

nt["days_passed"].replace({-1:52}, inplace=True)
nt

      age     job_type  ... call_end_minutes  call_end_seconds
0   65.00      retired  ...               30                56
1   36.00   management  ...               07                40
2   37.00   management  ...               10                56
3   30.07   management  ...               47                54
4   41.00   management  ...               41                31
..    ...          ...  ...              ...               ...
930 31.00  blue-collar  ...               41                53
931 30.00   technician  ...               37                10
932 42.00   management  ...               49                47
933 46.00     services  ...               32                48
934 54.00  blue-collar  ...               07                52

[935 rows x 22 columns]

In [214]:
nt_data = nt.drop(['call_start','call_end'],axis=1)

In [215]:
nt_data['marital_status'] = le.fit_transform(nt_data['marital_status'])

nt_data["communication"].replace({"cellular":1,"telephone":0}, inplace=True)

In [216]:

dnt_df = pd.get_dummies(nt_data, columns=["job_type"])



dt  = dnt_df.drop_duplicates()

In [217]:

cols_to_sc = ['age','education_level','balance_amt','last_contact_day','last_contact_month','no_of_contacts','days_passed','days_passed','call_start_hours',
                 'call_start_minutes','prev_attempts','call_start_seconds','call_end_hours','call_end_minutes','call_end_seconds']

In [218]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
# new[cols_to_scale] = scaler.fit_transform(new[cols_to_scale])

In [219]:
dt[cols_to_sc] = sc.fit_transform(dt[cols_to_sc])

In [227]:
np = dt.drop_duplicates()

In [221]:


# ndt.drop(['last_contact_month','no_of_contacts','prev_attempts','call_start_hours','call_start_minutes','call_end_hours'],axis=1)

In [228]:
np

     age  marital_status  ...  job_type_technician  job_type_unemployed
0   0.61               1  ...                    0                    0
1   0.23               1  ...                    0                    0
2   0.25               1  ...                    0                    0
3   0.16               2  ...                    0                    0
4   0.30               1  ...                    0                    0
..   ...             ...  ...                  ...                  ...
930 0.17               1  ...                    0                    0
931 0.16               2  ...                    1                    0
932 0.31               1  ...                    0                    0
933 0.36               1  ...                    0                    0
934 0.47               1  ...                    0                    0

[935 rows x 30 columns]

In [229]:
target = xg_reg.predict(np)

In [230]:
target

array([1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0])

In [ ]:
nd

In [231]:
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('submission.csv', index = False)
files.download('submission.csv')